@using DrinkAndGo.Data.Models
@model IEnumerable<Drink>
<div>
    <h2>All drinks are show here</h2>
</div>

@{
    foreach(var drink in Model)
    {
        <div>
            <h4>Drink name: @drink.Name</h4>
            <p>Price: @drink.Price.ToString("c")</p>

        </div>
    }
}